<div class="container">
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active"><a href="#/adm">Painel de controle</a></li>
    </ol>
    
    <div class="row">

        <div class="col-md-4">


            <ul class="nav nav-pills nav-stacked">

                <li role="presentation">

                    <a style="padding: 5px !important;" href="#/adm/userprofile">
                        <h3 style="margin: 0px;">
                            <span class="fa fa-user-plus fa-2x" aria-hidden="true"></span> Criar novo usuário
                            <!--<small>
                    Controle de qualidade
                </small>-->
                        </h3>
                    </a>

                </li>

                <li role="presentation">

                    <a style="padding: 5px !important;" href="#/adm/industry">
                        <h3 style="margin: 0px;">
                            <span class="fa fa-industry fa-2x" aria-hidden="true"></span> Permissões da Fábrica
                            <!--<small>
                                Controle as permissões dos usuários
                            </small>-->
                        </h3>
                    </a>

                </li>
                <li role="presentation">

                    <a style="padding: 5px !important;" href="#/adm/lcq">
                        <h3 style="margin: 0px;">
                            <span class="fa fa-line-chart fa-2x" aria-hidden="true"></span> Permissões do LCQ
                            <!--<small>
                    Controle de qualidade
                </small>-->
                        </h3>
                    </a>

                </li>

                


                <!--<li role="presentation">

                    <a style="padding: 5px !important;" href="#/adm/permissions">
                        <h4 style="margin: 0px;">
                            <span class="fa fa-lock" aria-hidden="true"></span> Segurança
                            <small>
                                Controle as permissões dos usuários
                            </small>
                        </h4>
                    </a>

                </li>

                <li role="presentation">

                    <a style="padding: 5px !important;" href="#/adm/statuslote">
                        <h4 style="margin: 0px;">
                            <span class="fa fa-cubes" aria-hidden="true"></span> Status do lote
                            <small>
                                Determine os usuários que podem modificar determinados status do lote.
                            </small>
                        </h4>
                    </a>

                </li>-->

            </ul>

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12" ng-if="isCordovaApp">
            Versão atual: {{appConfigKeys.publishVersion}}

        </div>
        <div class="col-md-12" ng-if="!isCordovaApp">
            <h3>Atualização de software <small>Utilize este QRCode nos tablets para atualizar a versão do software.</small></h3>
            Versão atual: {{appConfigKeys.publishVersion}}
            <img src="img/lcq-update.png" class="img img-responsive" />

            <img src=https://build.phonegap.com/apps/2938353/badge/1565039326/android.svg />
        </div>
    </div>
    <div ng-if="1 == 2">
        Esta área está em desenvolvimento, bugs são esperados <br />
        Caso encontre algum problema, envie e-mail para <a href="mailto:suporte@crmsap.com.br">suporte@crmsap.com.br</a><br />
        <img ng-src="img/gif/working{{img}}.gif" style="width: 200px;" />


    </div>
    
    <!--<img src="img/gif/working1.gif" style="width: 250px;" />
    <img src="img/gif/working2.gif" style="width: 250px;" />
    <img src="img/gif/working3.gif" style="width: 250px;" />
    <img src="img/gif/working4.gif" style="width: 250px;" />
    <img src="img/gif/working5.gif" style="width: 250px;" />-->
    

</div>


