<style>
    #param thead tr th {
        border: none;
        vertical-align: middle;
    }

    #param tbody tr td {
        border: none;
        vertical-align: middle;
    }
</style>




<div class="container">

    <div ng-if="thermometers">

        <div class="panel panel-default">
            <table class="table table-condensed" id="param">
                <thead>
                    
                    <tr>
                        <th>
                            Termômetro
                        </th>
                        <th>
                            Descrição
                        </th>
                        <th style="text-align: center;">
                            Atual
                        </th>
                        <th style="text-align: center;">
                            Faixa de operação
                        </th>
                        <th style="text-align: center;">
                            Média
                        </th>
                        <th style="text-align: center;">
                            Mínima
                        </th>
                        <th style="text-align: center;">
                            Máxima
                        </th>
                        <!--<th style="text-align: center;">
                            Atual
                        </th>
                        <th style="text-align: center;">
                            Média
                        </th>
                        <th style="text-align: center;">
                            Mínima
                        </th>
                        <th style="text-align: center;">
                            Máxima
                        </th>-->
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="t in thermometers">
                        <td style="text-align: left;">
                            <a ng-href="#/thermometer/{{t.device}}">
                                {{t.device}}
                                <img ng-src="{{apiURL}}Thermometer/GetThermometerPicture/{{t.picture}}" class="img img-responsive" ng-if="t.picture">
                            </a>
                        </td>
                        <td style="text-align: left;">
                            <a ng-href="#/thermometer/{{t.device}}">
                                {{t.devicename}}
                            </a>
                        </td>
                        <td style="text-align: center;">
                            <h1 ng-class="{'text-danger': t.actualtemp < t.devicemintemp || t.actualtemp > t.devicemaxtemp, 'text-success': t.actualtemp >= t.devicemintemp && t.actualtemp <= t.devicemaxtemp}">
                                <small><span class="fa fa-thermometer" aria-hidden="true"></span></small>

                                {{t.actualtemp | number: '1'}}°C
                            </h1>
                            <!--{{t.actualtemp | number: '1'}}°C-->
                        </td>

                        <td style="text-align: center;">
                            {{t.devicemintemp | number: '1'}}°C até {{t.devicemaxtemp | number: '1'}}°C 
                        </td>
                        <td style="text-align: center;">
                            {{t.avgtemp | number: '1'}}°C
                        </td>
                        <td style="text-align: center;">
                            {{t.mintemp | number: '1'}}°C
                        </td>
                        <td style="text-align: center;">
                            {{t.maxtemp | number: '1'}}°C
                        </td>
                        <!--<td style="text-align: center;">
                            {{t.actualhumi | number: '1'}}%
                        </td>
                        <td style="text-align: center;">
                            {{t.avghumi | number: '1'}}%
                        </td>
                        <td style="text-align: center;">
                            {{t.minhumi | number: '1'}}%
                        </td>
                        <td style="text-align: center;">
                            {{t.maxhumi | number: '1'}}%
                        </td>-->
                    </tr>


                </tbody>
            </table>
        </div>

        <!--{{thermometers}}-->
    </div>

    <div ng-if="temperature">
        <div class="row">
            <h4>{{temperature.device}} {{temperature.devicename}}</h4>

            <div class="col-md-6">
                <table class="table table-condensed">
                    <tr>
                        <th></th>
                        <th>Temperatura</th>
                        <th>Umidade</th>
                    </tr>
                    <tr>
                        <th>Atual</th>
                        <td>
                            <h1 ng-class="{'text-danger': temperature.actualtemp < temperature.devicemintemp || temperature.actualtemp > temperature.devicemaxtemp, 'text-success': temperature.actualtemp >= temperature.devicemintemp && temperature.actualtemp <= temperature.devicemaxtemp}">
                                <small><span class="fa fa-thermometer" aria-hidden="true"></span></small>

                                {{temperature.actualtemp | number: '1'}}°C
                            </h1>

                        </td>
                        <td>
                            <h1>
                                <small><span class="fa fa-tint" aria-hidden="true"></span></small>
                                {{temperature.actualhumi | number: '1'}}%
                            </h1>


                        </td>
                    </tr>
                    <tr>
                        <th>Mínima</th>
                        <td>{{temperature.mintemp | number: '1'}}°C</td>
                        <td>{{temperature.minhumi | number: '1'}}%</td>
                    </tr>
                    <tr>
                        <th>Máxima</th>
                        <td>{{temperature.maxtemp | number: '1'}}°C</td>
                        <td>{{temperature.maxhumi | number: '1'}}%</td>

                    </tr>
                    <tr>
                        <th>Média</th>
                        <td>{{temperature.avgtemp | number: '1'}}°C</td>
                        <td>{{temperature.avghumi | number: '1'}}%</td>
                    </tr>
                    <tr>
                        <th>Permitido</th>
                        <td colspan="2">{{temperature.devicemintemp | number: '1'}}°C até {{temperature.devicemaxtemp | number: '1'}}°C</td>

                    </tr>
                    
                    <tr>
                        <th>Detalhes</th>
                        <td colspan="2">
                            Entre {{temperature.start | date: "dd/MM HH:mm"}} e {{temperature.end | date: "dd/MM HH:mm"}}
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td colspan="2">
                            {{temperature.measurements}} medições ({{temperature.measurements_per_hour}}/hora)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <a href="#/thermometer/{{temperature.device}}/temperatures" class="btn btn-primary btn-sm">
                                Ver histórico de temperaturas
                            </a>
                            <a href="#/thermometer/{{temperature.device}}/setup" class="btn btn-primary btn-sm">
                                Configurar termômetro
                            </a>
                        </td>
                    </tr>

                </table>
                <!--<div class="col-md-6 col-sm-6 col-xs-12">
                    <temperature-chart id="temperatureChart" class="col-md-12 col-sm-12 col-xs-12" data="temperature" ng-if="temperature" style=""></temperature-chart>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <humidity-chart id="humidityChart" class="col-md-12 col-sm-12 col-xs-12" data="temperature" ng-if="temperature"></humidity-chart>
                </div>-->
            </div>
            


            <div class="col-md-6" style="">
                <img ng-src="{{apiURL}}Thermometer/GetThermometerPicture/{{temperature.picture}}" class="img img-responsive" ng-if="temperature.picture">
            </div>
        </div>

        <div class="row">

            

            <div class="col-md-6 col-sm-12">
                <temperature-range-chart id="rangeChart" class="col-xs-12" ranges="temperaturesPerHourChart.ranges" temperatures="temperaturesPerHourChart.temperatures" ng-if="temperaturesPerHourChart" style="height: 350px;" ng-cloak></temperature-range-chart>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body pre-scrollable">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th colspan="3" style="text-align: center">Temperatura</th>
                                    <th colspan="3" style="text-align: center">Umidade</th>
                                </tr>
                                <tr>
                                    <th style="text-align: center">Data/hora</th>
                                    <th style="text-align: center">Mínima</th>
                                    <th style="text-align: center">Máxima</th>
                                    <th style="text-align: center">Média</th>
                                    <th style="text-align: center">Mínima</th>
                                    <th style="text-align: center">Máxima</th>
                                    <th style="text-align: center">Média</th>
                                    <th style="text-align: center">Med.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="temp in temperaturePerHour | orderBy : 'rownumber' : true">
                                    <td style="text-align: center">
                                        {{temp.createdate | date: 'dd/MM/yyyy HH'}}h
                                    </td>
                                    <td style="text-align: center">
                                        {{temp.mintemp | number: '1'}}°C
                                    </td>
                                    <td style="text-align: center">
                                        {{temp.maxtemp | number: '1'}}°C
                                    </td>
                                    <td style="text-align: center">
                                        {{temp.avgtemp | number: '1'}}°C
                                    </td>
                                    <td style="text-align: center">
                                        {{temp.minhumi | number: '1'}}%
                                    </td>
                                    <td style="text-align: center">
                                        {{temp.maxhumi | number: '1'}}%
                                    </td>
                                    <td style="text-align: center">
                                        {{temp.avghumi | number: '1'}}%
                                    </td>
                                    <td style="text-align: center">
                                        {{temp.measurements | number: '0'}}
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>

                </div>

            </div>


        </div>


    </div>


</div>




