
<div class="footer">
    <a href="https://www.crmsap.com.br" target="_blank">
        <img src="img/emblems/arkabnegative100.png" alt="CRM para SAP Business One" class="img img-responsive" style="float: left;" />
    </a>
    <small>
        <!--<span ng-bind-html="footerText" class="hidden-xs"></span>--> 
        <!--Laborclin Produtos para Laboratório - (41)3661-9000 - DESENVOLVIDO POR ARKAB IT | Copyright © 2017 - Todos os direitos reservados-->
        Laborclin Produtos para Laboratório - (41)3661-9000 - DESENVOLVIDO POR ARKAB IT | Copyright © 2017 - {{actualYear}} - Todos os direitos reservados
    </small>
    
    <div class="pull-right hidden-xs" style="display: inline-block">
        <small>
            <a href="https://arkabit.com" target="_blank">
                arkabit.com
            </a>
            | Versão: {{appConfigKeys.publishVersion}}
        </small>
        
        <span ng-if="partnerConfig">
            <!--<small>
                | Distribuído por {{partnerConfig.name}}
            </small>
            
            <a ng-href="{{partnerConfig.site}}" target="_blank">
                <img ng-src="config/{{partnerConfig.logo}}_20.png" alt="" class="img img-responsive" style="float: right;" />
            </a>-->
        </span>
        
    </div>
    


</div>
