<div ng-if="identity.isAuthenticated">

    <div class="container-fluid">
        

        <div class="row">
            <div class="col-md-12">
                <h3>Análises em andamento</h3>
                <hc-pie-label-chart title="" id="chartStatusLote" data="chartStatusLote" class="col-md-8 col-xs-12" style="height: 300px;" ng-if="chartStatusLote"></hc-pie-label-chart>
                <div class="col-md-4 col-xs-12">
                    <div class="panel panel-default pre-scrollable" style="max-height: 300px;" ng-if="chartStatusLote">
                        <table class="table table-condensed">
                            <tr>
                                <th>Status do lote</th>
                                <th style="text-align: right;">Quantidade</th>
                            </tr>
                            <tr ng-repeat="ind in indicadores.statuslote">
                                <td>{{ind.label}}</td>
                                <td style="text-align: right;">{{ind.quantity}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Análises Encerradas</h3>
                <hc-pie-label-chart title="" id="chartStatusLoteFechado" data="chartStatusLoteFechado" class="col-md-8 col-xs-12" style="height: 300px;" ng-if="chartStatusLoteFechado"></hc-pie-label-chart>
                <div class="col-md-4 col-xs-12">
                    <div class="panel panel-default pre-scrollable" style="max-height: 300px;" ng-if="chartStatusLoteFechado">
                        <table class="table table-condensed">
                            <tr>
                                <th>Status do lote</th>
                                <th style="text-align: right;">Quantidade</th>
                            </tr>
                            <tr ng-repeat="ind in indicadores.statuslotefechado">
                                <td>{{ind.label}}</td>
                                <td style="text-align: right;">{{ind.quantity}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    

    <!--<carousel interval="15000" no-pause="false" no-transition="true" style="position: relative; width: 100%; left: 0px;" class="topslider">
        <slide active="slide.active">
            <div class="row">
                <hc-pie-label-chart title="" id="chartStatusLote" data="chartStatusLote" class="col-md-8 col-xs-12" style="height: 600px;" ng-if="chartStatusLote"></hc-pie-label-chart>
                <div class="col-md-4 col-xs-12">
                    <div class="panel panel-default pre-scrollable" style="max-height: 600px;" ng-if="chartStatusLote">
                        <table class="table table-condensed">
                            <tr>
                                <th>Status do lote</th>
                                <th style="text-align: right;">Quantidade</th>
                            </tr>
                            <tr ng-repeat="ind in indicadores.statuslote">
                                <td>{{ind.label}}</td>
                                <td style="text-align: right;">{{ind.quantity}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="carousel-caption">
                <h4>Status do lote</h4>
                <p>Por quantidade</p>
            </div>
        </slide>
        <slide>
            <div class="row">
                <hc-pie-label-chart title="" id="chartTipoAnalise" data="chartTipoAnalise" class="col-md-8 col-xs-12" style="height: 600px;" ng-if="chartTipoAnalise"></hc-pie-label-chart>
                <div class="col-md-4 col-xs-12">
                    <div class="panel panel-default pre-scrollable" style="max-height: 600px;">
                        <table class="table table-condensed">
                            <tr>
                                <th>Tipo de análise</th>
                                <th style="text-align: right;">Quantidade</th>
                            </tr>
                            <tr ng-repeat="ind in indicadores.tipoanalise">
                                <td>{{ind.label}}</td>
                                <td style="text-align: right;">{{ind.quantity}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="carousel-caption">
                <h4>Tipo de análise</h4>
                <p>Por quantidade</p>
            </div>
        </slide>
        <slide>
            <div class="row">
                <hc-pie-label-chart title="" id="chartGrupo" data="chartGrupo" class="col-md-8 col-xs-12" style="height: 600px;" ng-if="chartGrupo"></hc-pie-label-chart>
                <div class="col-md-4 col-xs-12">
                    <div class="panel panel-default pre-scrollable" style="max-height: 600px;">
                        <table class="table table-condensed">
                            <tr>
                                <th>Grupos</th>
                                <th style="text-align: right;">Quantidade</th>
                            </tr>
                            <tr ng-repeat="ind in indicadores.grupo">
                                <td>{{ind.label}}</td>
                                <td style="text-align: right;">{{ind.quantity}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="carousel-caption">
                <h4>Grupos</h4>
                <p>Por quantidade</p>
            </div>
        </slide>
    </carousel>-->

    






</div>

