

<nav class="navbar navbar-inverse" ng-show="identity.isAuthenticated == true">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/" style="padding-left: 8px; padding-right: 8px; padding-top: 0px; padding-bottom: 0px; ">
                <!--<img src="config/branch-logo-32px.png" alt="Arkab.WebApp" class="img img-responsive" style="margin-top: 8px; padding-top: 0px; max-height: 32px;" ng-if="!appConfig.logo" />-->
                <img ng-src="{{apiURL}}Adm/GetLogo/{{appConfig.logoInverted}}-64px" alt="Arkab.WebApp" class="img img-responsive" style="margin-top: 8px; padding-top: 0px; max-height: 32px;" ng-if="appConfig.logo" />


            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li data-toggle="collapse" data-target=".navbar-collapse">
                    <a href="#/" title="Página inicial" tabindex="-1" style="padding-left: 8px; padding-right: 8px;">
                        <span class="fa fa-home hidden-xs" title="Home" aria-hidden="true"></span>
                        Home
                    </a>
                </li>

                <li class="dropdown" ng-if="!identity.industrypermission.bloqueado">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-industry" aria-hidden="true"></span>
                        Fábrica <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" ng-if="!identity.industrypermission.bloqueado && identity.industrypermission.mrp">
                        <li><a href="#/industry/mrp">Planejamento de recursos</a></li>
                        <!--<li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>-->
                    </ul>
                </li>   

                <li data-toggle="collapse" data-target=".navbar-collapse">
                    <a href="#/lcq" title="LCQ" style="padding-left: 8px; padding-right: 8px;">
                        <span class="fa fa-flask hidden-xs" title="LCQ" aria-hidden="true"></span>
                        Qualidade
                    </a>
                </li>
                
                <!--<li data-toggle="collapse" data-target=".navbar-collapse">
                    <a href="#/thermometer" title="LCQ" style="padding-left: 8px; padding-right: 8px;">
                        <span class="fa fa-thermometer hidden-xs" title="LCQ" aria-hidden="true"></span>
                        Termômetros
                    </a>
                </li>-->

                
            </ul>


            <ul class="nav navbar-nav navbar-right" ng-show="identity.isAuthenticated == true">



                <li ng-show="identity.isAuthenticated == true" style="padding: 0px; margin: 0px;" data-toggle="collapse" data-target=".navbar-collapse" class="hidden-xs">
                    <a href="#/profile" style="padding-left: 8px; padding-right: 1px; padding-top: 0px; padding-bottom: 0px;">
                        <img ng-src="{{apiURL}}Account/GetAvatar/{{identity.avatarStream}}-32px" class="img img-responsive" style="height: 32px; padding: 0px; margin-top: 9px;">
                    </a>
                </li>
                <li class="dropdown" ng-show="identity.isAuthenticated == true">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding-left: 8px; padding-right: 8px;">
                        {{identity.companyUserName}}
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li data-toggle="collapse" data-target=".navbar-collapse">
                            <a href="#/profile">
                                <img ng-src="{{apiURL}}Account/GetAvatar/{{identity.avatarStream}}-32px" class="img img-responsive visible-xs" style="height: 32px;">
                                <span class="fa fa-user-circle" aria-hidden="true"></span>
                                Meu perfil
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li data-toggle="collapse" data-target=".navbar-collapse" ng-if="(identity.roles.toUpperCase() == 'MASTER') ">
                            <a href="https://arkabit.octadesk.com/helpcenter" target="_blank">
                                <span class="fa fa-safari" aria-hidden="true"></span>
                                Suporte
                            </a>
                        </li>
                        <li data-toggle="collapse" data-target=".navbar-collapse">
                            <a href="https://help.crmsap.com.br/index.php?title=Portal_de_Vendas_CRMSAP_para_SAP_Business_One" target="_blank">
                                <span class="fa fa-question-circle" aria-hidden="true"></span>
                                Ajuda
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li data-toggle="collapse" data-target=".navbar-collapse">
                            <a href="https://blog.crmsap.com.br" target="_blank">
                                <span class="fa fa-bullhorn" aria-hidden="true"></span>
                                Novidades
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>

                        <li data-toggle="collapse" data-target=".navbar-collapse">
                            <a href="" ng-click="logOut()">
                                Log out
                            </a>
                        </li>
                    </ul>

                </li>


            </ul>

            <ul class="nav navbar-nav navbar-right" ng-show="identity.isAuthenticated == true">

                <li style="padding-top: 10px; padding-right: 10px;" data-toggle="collapse" data-target=".navbar-collapse">
                    <button class="btn btn-default btn-primary btn-sm"  ng-click="logOut()">
                        <span class="fa fa-sign-out" aria-hidden="true"></span> Log out
                    </button>
                </li>

                <li style="padding-top: 10px; padding-right: 10px;" ng-if="(identity.roles.toUpperCase() == 'MASTER') && identity.controlpanel" data-toggle="collapse" data-target=".navbar-collapse">
                    <button class="btn btn-default btn-primary btn-sm" ng-click="go('/adm')">
                        <span class="fa fa-cogs" aria-hidden="true"></span> Painel Controle
                    </button>
                </li>

                <li style="padding-top: 10px;" ng-if="loginData.isCordovaApp" data-toggle="collapse" data-target=".navbar-collapse">
                    <button class="btn btn-default btn-danger btn-sm" ng-click="closeApp()">
                        <span class="fa fa-close" aria-hidden="true"></span> Fechar
                    </button>
                </li>

                <!--<li ng-if="(identity.roles.toUpperCase() == 'MASTER') && identity.controlpanel " data-toggle="collapse" data-target=".navbar-collapse">
                    <a href="#/adm" style="font-size: 21px; padding: 13px 4px 13px 13px; width: 43px; text-align: center;">
                        <span class="fa fa-cogs" style=""
                              title="Painel de controle"></span>
                    </a>

                </li>-->

            </ul>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!--<br />
<div class="row">
    <div class="col-md-offset-1 col-md-4">
        <div>
            <div id="liveclock" class="outer_face" style="width: 200px; height: 200px; border-radius: 200px;">

                <div class="marker oneseven"></div>
                <div class="marker twoeight"></div>
                <div class="marker fourten"></div>
                <div class="marker fiveeleven"></div>


                <div class="inner_face">

                    <div class="hand hour"></div>
                    <div class="hand minute"></div>
                    <div class="hand second"></div>

                </div>


            </div>
        </div>

    </div>
</div>-->


<!--<script type="text/javascript">

    var $hands = $('#liveclock div.hand')

    window.requestAnimationFrame = window.requestAnimationFrame
                                   || window.mozRequestAnimationFrame
                                   || window.webkitRequestAnimationFrame
                                   || window.msRequestAnimationFrame
                                   || function(f){setTimeout(f, 1000)}


    function updateclock(){
	    var curdate = new Date()
	    var hour_as_degree = ( curdate.getHours() + curdate.getMinutes()/60 ) / 12 * 360
	    var minute_as_degree = curdate.getMinutes() / 60 * 360
	    var second_as_degree = ( curdate.getSeconds() + curdate.getMilliseconds()/1000 ) /60 * 360
	    $hands.filter('.hour').css({transform: 'rotate(' + hour_as_degree + 'deg)' })
	    $hands.filter('.minute').css({transform: 'rotate(' + minute_as_degree + 'deg)' })
	    $hands.filter('.second').css({ transform: 'rotate(' + second_as_degree + 'deg)' })
        //setTimeout(function () { requestAnimationFrame(updateclock) }, 1000);
	    requestAnimationFrame(updateclock);

    }
    
    requestAnimationFrame(updateclock);


</script>-->