
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <center>
                <h1>Não encontrado</h1><br />
                <img src="img/404.png" alt="404" title="404" />
                <p>A página que você solicitou não está disponível.</p>
                <p>
                    <button onclick="history.back();" class="btn btn-default">
                        <span class="fa fa-backward" aria-hidden="true"></span>
                        Voltar
                    </button>
                </p>
            </center>
            
        </div>
    </div>
</div>




