<br /><br />
<div class="jumbotron">
  <h1>Portal B2B <small>Laborclin Produtos para Laboratório</small></h1>
  <p>Bem vindo ao nosso portal de integração.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais</a></p>
</div>


<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://t14.deviantart.net/hRektRMX3mk7CpTwYh_StSlX1yw=/300x200/filters:fixed_height(100,100):origin()/pre12/b36e/th/pre/f/2015/318/3/6/gaster_doodles_by_demonym-d9gq21f.png" alt="...">
      <div class="caption">
        <h3>Todo mundo feliz</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et convallis nisi. </p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://t12.deviantart.net/L3O0Q7uQ6W6lzoTOToWhVcEYgV4=/300x200/filters:fixed_height(100,100):origin()/pre13/beb8/th/pre/i/2015/320/1/3/spongebob_meme_by_vampirehelenaharper-d9gz71k.jpg" alt="...">
      <div class="caption">
        <h3>Eu não me importo</h3>
        <p>Sed rhoncus sollicitudin purus in malesuada. </p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://t02.deviantart.net/4IPGBBhzZuLTY_APuFwyJL-xH_A=/300x200/filters:fixed_height(100,100):origin()/pre04/3b10/th/pre/f/2014/254/1/5/xbox360_gamepad_2010_style_by_wangbin99-d4g5mdj.png" alt="...">
      <div class="caption">
        <h3>Lifestyle</h3>
        <p>Nunc ultrices justo quam, tincidunt blandit orci ultrices at. Aenean fringilla sit amet dolor at tristique. </p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <!--<img src="https://worleygig.files.wordpress.com/2010/05/ronnie_james_dio_sp-242x300.jpg?w=350&h=200&crop=1" alt="...">-->
      <img src="https://media2.giphy.com/media/a6xxtSn6gTSg0/200_s.gif" alt="..." />
      <div class="caption">
        <h3>Don't be a pussy</h3>
        <p>Morbi vel lacus tincidunt, molestie dui at, bibendum justo. Aliquam varius iaculis rutrum. Integer ac odio ipsum. </p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  
</div>
